.kilogram-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 96vh;
}

.kilotop{
    margin: 0px auto auto auto;
    display: flex;
    flex-direction: row;
}

.kilophoneDiv{
    display: none;
    background-image: url("./img/instagram-celular.png");
    background-repeat: no-repeat;
    min-width: 381px;
    min-height: 582px;
    margin-right: 40px;
}

.kilophoneDiv>div{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 7.05rem;
    padding-top: 1.78rem;
}

.kilophonePhoto{
    position: absolute;
    opacity: 0;
    transition: 5s;
    width: 252px;
    height: 538px;
}

.kilophonePhotoActive{
    opacity: 1!important;
}

.kilologin{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.kilodiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kilodiv2{
    margin-top: 10px;
    padding-top: 4.4rem;
    padding-bottom: 2rem;
}

.kilologo{
    margin-top: 3rem;
}

.perfil-img{
    margin-top: 2rem;
    border-radius: 50%;
    width: 84px;
    height: 84px;
}

#btnContinuar{
    margin-top: 2.8rem;
    background-color: #0095f6;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a.kilolink{
    color: #0095f6;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#linkRemoverConta{
    margin-top: 1.2rem;
    font-size: 15px;
}

.kilotext{
    color:#8e8e8e;
    font-weight: 400;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
}

.kilomiddleText{
    font-size: 14px;
    text-align: center;
}

.download>a{
    text-decoration: none;
}

.app-img{

    width: 136px;
    height: 40px;
}

.kilobottom{
    margin-top: 3.5rem;
}

.kilobottomC3{
    margin: 12px 0px;
}

.kilobottomDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.kilobottomItem{
    font-size: 12px;
    text-decoration: none;
    margin: 4px 10px;
}

@media (min-width: 650px) {
    body{
        background-color: rgb(246, 246, 246);
    }
    .kilotop{
        margin:auto;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 82px;
        width: 100%;
        max-width: 935px;
    }
    .kilobottom{
        padding: 0px 16px;
        margin: 0px;
        width: 100%;
    }

    .kilobottomConteudo{
        margin: 0px 0px 0px;
    }
    .kilophoneDiv{
        display: flex;
        margin: 0px 32px 12px 0px;
    }
    .kilodiv1{
        border: 1px solid silver;
        padding-bottom: 20px;
        min-width: 350px;
        background-color: #FFFF;
        min-height: 396px;
    }
    .kilodiv2{
        border: 1px solid silver;
        background-color: #FFFF;
        min-width: 350px;
        margin-top: 10px;
        padding: 1.1rem 0;
    }
}

